table {
  border-collapse: collapse;
  width: 50%;
  margin: 0px auto;
  float: none;
}

/* Zebra striping */
h3#TopH1{
  padding-top: 20px;
  margin-bottom: 30px;
}

tr:nth-of-type(odd) {
  background: #f4f4f4;
}

tr:nth-of-type(even) {
  background: #fff;
}

th {
  background: #d30239;
  color: white;
  font-weight: 600;
  font-size: 13pt;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  width: 250px;
}

.form-check-label {
  margin-left: 20px;
}

#NrColumn {
  width: 80px !important;
  display: none;
}

.SmallColumn {
  width: 40px !important;
}

td:nth-of-type(1) {
  font-weight: 500 !important;
}

td {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  line-height: 20px;
}

span {
  font-style: italic
}

body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

h1, h2, h3 {
  text-align: center;
}

#savingButton {
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#cancelButton {
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
}

button[data-toggle="collapse"], button.collapsed{
  color: #d30239;
  font-size: 14pt;
  font-weight: 600;
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr {
    display: block !important;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive thead tr {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
  }
  .responsive tr {
    border: 1px solid #ccc;
  }
  .responsive td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee !important;
    position: relative !important;
    padding-left: 25% !important;
  }
  .responsive td:before {
    /* Now like a table header */
    position: absolute !important;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap !important;
    font-weight: 500 !important;
  }
  /*
      Label the data
      */
  .responsive td:before {
    content: attr(data-table-header) !important;
  }
}